infra/modules/step-function/workflow.json
{
  "Comment": "Workflow for processing sensor data",
  "StartAt": "distributor",
  "States": {
    "distributor": {
      "Type": "Task",
      "Resource": "${distributor_lambda_arn}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleError",
          "ResultPath": null
        }
      ],
      "Next": "Map"
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "${error_handling_lambda_arn}",
      "End": true
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "dataTransform",
        "States": {
          "dataTransform": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "FunctionName": "${transformer_lambda_arn}",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          }
        }
      },
      "End": true
    }
  }
}


